//--------------------------------------------------------------
// EDITOR STYLES
// CSS for just Backend enqueued after style.scss
//--------------------------------------------------------------

.wp-block-gutencard-block-gutencard {
	border: rem(1) solid $color-dove-gray;

	.button {
		background: $color-black;
		border: rem(1) solid $color-dove-gray;
		border-radius: rem(2);
		color: $color-white;
		display: block;
		margin: rem(10) auto;
		min-width: rem(300);
		padding: rem(10) rem(20);
		text-align: center;
		text-transform: uppercase;
	} // .button-container

} // .wp-block-gutencard-block-gutencard
